<button class="addBtn" (click)="toggleAddFlag()">Add</button>
<button class="undoRedoBtn" (click)="undoAction()">Undo</button>
<button class="undoRedoBtn" (click)="redoAction()">Redo</button>

<div *ngIf="addFlag">
  <span>
    name: <input type="text" [(ngModel)]="contactInfo.name" id="name" required name="name" />
    planet: <input type="text" [(ngModel)]="contactInfo.planet" id="planet" name="planet" />
    dimension: <input type="text" [(ngModel)]="contactInfo.dimension" id="dimension" name="dimension" />
    mobile: <input type="number" [(ngModel)]="contactInfo.mobile" id="mobile" name="mobile"/>
    home: <input type="number" [(ngModel)]="contactInfo.home" id="home" name="home"/>
  </span>
  <div>
    <button class="btn btn-success" (click)="addContact(); toggleAddFlag()">Submit</button>
  </div>
</div>

<div class="gridHeader">
  <h2>Contacts</h2>
</div>

<div class="grid">
  <div class="outerBox" *ngFor="let contact of contacts">
    <button class="destroy" (click)="removeContact(contact)">X</button>
    <div class="innerBox">
      <h3>{{contact.name}}</h3>
    </div>
  </div>
</div>
