/*for cases not detailed below, content will be centered with minimum width allowed*/
body{
  background-color: PaleTurquoise;
  margin: 0px 0px;
  width: device-width;
}

div.header{
  padding: 10px 10px;
  background-color: DarkSlateGrey;
  line-height: 40px;
  text-align: left;
}
a{
  color: DarkTurquoise;
}
img.githubImg{
  width: 40px;
  height: 40px;
  margin-bottom: -15px;
}
